.qshala-grid-view,.table-body{
    display: grid;
    align-items: center;
    justify-content:center;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: 50px;
    /* margin: 0 15px; */
    /* width: 100%; */
}
.qshala-grid-view {
    /* margin-bottom:2em; */
}
.qshala-grid-view li {
    list-style: none;
    font-size: 20px; 
    color:#fff;
    padding: .5em 1em;
    background: rgb(173, 173, 173);
}

.table-body li.li{
    list-style: none;
    margin:1em;
    background:transparent !important;
}
.table-body{
    transition: all ease-in-out .1ms ;
    margin-top:1em;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.3);
}
.table-body:hover{
    transition: all ease-in .5s ;
    transform: scale(1.1);
}